.App {
  text-align: center;
}


.table{
  height: 40vmin;
  pointer-events: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#toast-container{
  top:30px !important;
  right:20px !important;
  left: auto !important;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




